.diff {
  background-color: rgb(255, 200, 100);
}

.row-approved {
  background-color: rgba(36, 252, 3, .5) !important;
}

.row-excluded td {
  background-color: rgba(184, 184, 184, .5) !important;
  opacity: 0.5;
}
