<template>
  <ul class="uk-pagination uk-flex-center uk-margin-remove">
    <template if.bind="currentPage == 1">
      <li class="uk-disable"><span><span uk-pagination-previous></span></span></li>
    </template>
    <template else>
      <li class="uk-active">
        <a href.bind="prevPageUrl" class="uk-link-toggle">
          <span uk-pagination-previous class="uk-link-heading"></span>
        </a>
      </li>
    </template>
    <template repeat.for="page of pageMap">
      <template if.bind="page != '...' && page.number != currentPage">
        <li class="uk-active">
          <a route-href="route.bind: routeName; params.bind: page.params" class="uk-link-heading">${page.number}</a>
        </li>
      </template>
      <template else>
        <li class="uk-active">
          <span><span>${page.number || page}</span></span>
        </li>
      </template>
    </template>
    <template if.bind="currentPage == totalPages">
      <li class="uk-disable"><span><span uk-pagination-next></span></span></li>
    </template>
    <template else>
      <li class="uk-active">
        <a href.bind="nextPageUrl" class="uk-link-toggle">
          <span uk-pagination-next class="uk-link-heading"></span>
        </a>
      </li>
    </template>
  </ul>
</template>
